
{% block content %}
<h1>TODO APP</h1>
<div>
    {% if messages %}
    {% for message in messages %}
    <div>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
</div>
<form method="POST" action="/">
    {% csrf_token %}
 
    {{form.title}}
    <input type="submit" name="submit" >
</form>

<h2 class="btn btn-primary">List of Tasks</h2>

{% for task in tk %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
    </div>
{% endfor %}

{% endblock  %}